.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/091/926/original/tokyo.jpg?1690990750");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 150px 0;
  color: white;
}
.header h1 {
  font-size: 58pt;
  padding: 0;
  margin: 0;
}
.header h3 {
  font-size: 27pt;
  padding: 0;
  margin: 0;
}
.grid {
  display: grid;
  grid-gap: 64px;
  padding: 50px;
}
.grid-2-columns {
  grid-template-columns: auto auto;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.img-responsive {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.secondary {
  background-color: rgb(196, 244, 228);
}
.secondary h2 {
  font-size: 35pt;
  padding: 0;
  margin-top: 0;
}
.secondary h3 {
  font-size: 24pt;
}
.text-center {
  text-align: center;
}
.card {
  background: white;
  margin: 10px auto;
  max-width: 450px;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.inner-link {
  color: rgb(247, 215, 220);
}
.table-container {
  display: block;
  margin: 0 auto;
  text-align: center;
}
section {
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
footer {
  background-color: rgb(2, 2, 62);
  color: white;
  padding: 0 20px;
}
li {
  list-style-type: none;
}
.links {
  text-decoration: none;
  color: white;
}
.links:visited {
  color: rgb(240, 195, 202);
}

table {
  margin: 1rem auto;
  text-align: left;
}

table thead tr th:first-child {
  width: 40%;
  overflow: auto;
}
